<% players = Player.all.order(:name) %>
<%= form_with model: match do |f| %>
  <div class="flex flex-col gap-2">
    <div class="grid grid-cols-2 gap-2 w-full">
      <div class="flex flex-col gap-2">
        <h2>Team A</h2>

        <%= f.fields_for :team_1_attributes do |team_1| %>
          <%= team_1.select :player_1_id,
            options_from_collection_for_select(players, :id, :name, match.team_1.player_1_id) %>
          <%= team_1.select :player_2_id,
            options_from_collection_for_select(players, :id, :name, match.team_1.player_2_id) %>
        <% end %>
      </div>
      <div class="flex flex-col gap-2">
        <h2>Team B</h2>

        <%= f.fields_for :team_2_attributes do |team_1| %>
          <%= team_1.select :player_1_id,
            options_from_collection_for_select(players, :id, :name, match.team_2.player_1_id) %>
          <%= team_1.select :player_2_id,
            options_from_collection_for_select(players, :id, :name, match.team_2.player_2_id) %>
        <% end %>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-2 w-full">
      <div class="flex flex-col gap-2">
        <h2>Lugar</h2>

        <%= f.select :location_id,
          options_from_collection_for_select(Location.all, :id, :name) %>
      </div>
      <div class="flex flex-col gap-2">
        <h2>Fecha</h2>

        <%= f.datetime_field :played_at %>
      </div>
    </div>

    <%= f.submit "Guardar", class: "btn btn-primary" %>
  </div>
<% end %>
