<% players = Player.all.order(:name) %>
<%= form_with model: match, html: { novalidate: true } do |f| %>
  <div class="flex flex-col gap-2 py-4">
    <%= match.persisted? ? render("match_header", match: match) : nil %>

    <div class="grid grid-cols-2 gap-2 w-full">
      <div class="flex flex-col gap-2">
        <h2 class="font-semibold">Team A</h2>

        <%= f.fields_for :match_players_a do |mp| %>
          <%= mp.select :player_id,
            options_from_collection_for_select(players, :id, :name, mp.object.player_id) %>
        <% end %>
      </div>
      <div class="flex flex-col gap-2">
        <h2 class="font-semibold">Team B</h2>

        <%= f.fields_for :match_players_b do |mp| %>
          <%= mp.select :player_id,
            options_from_collection_for_select(players, :id, :name, mp.object.player_id) %>
        <% end %>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-2 w-full">
      <div class="flex flex-col gap-2">
        <h2 class="font-semibold">Lugar</h2>

        <%= f.select :location_id,
          options_from_collection_for_select(Location.all, :id, :name) %>
      </div>
      <div class="flex flex-col gap-2">
        <h2 class="font-semibold">Fecha</h2>

        <%= f.datetime_field :played_at %>
      </div>
    </div>

    <div class="flex flex-col gap-2">
      <h2 class="font-semibold">Sets</h2>

      <% match.score_sets_a.size.times do |index| %>
        <div class="grid grid-cols-4 gap-2 w-full">
          <span class="text-gray-400 text-center my-auto">#<%= index + 1 %></span>

          <%= f.fields_for :score_sets_a, match.score_sets_a[index] do |score_set| %>
            <%= score_set.number_field :score %>
            <%= score_set.hidden_field :position, value: index %>
          <% end %>

          <%= f.fields_for :score_sets_b, match.score_sets_b[index] do |score_set| %>
            <%= score_set.number_field :score %>
            <%= score_set.hidden_field :position, value: index %>
          <% end %>

          <div></div>
        </div>
      <% end %>
    </div>

    <div class="flex flex-col">
      <%= f.submit "Guardar", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
