<div class="flex flex-col gap-8">
  <div class="flex flex-col gap-4">
    <%= render "team", team_name: "A", players: match.match_players_a, won: match.team_1_won? %>
    <%= render "team", team_name: "B", players: match.match_players_b, won: match.team_2_won? %>
  </div>

  <div>
    <h1 class="text-xl font-bold leading-relaxed mb-4">Sets</h1>

    <div class="flex flex-col gap-4">
      <% match.score_sets_by_position.map do |position, score_sets| %>
        <%= render "score_set", position: position, score_sets: score_sets %>
      <% end %>
    </div>
  </div>

  <div>
    <h1 class="text-xl font-bold leading-relaxed mb-4">Fecha y lugar</h1>

    <div class="grid grid-cols-[auto_1fr] gap-4 mb-4">
      <div class="rounded-2xl bg-gray-100 size-14 flex flex-col justify-center">
        <%= inline_svg_tag "icons/map-pin.svg", class: "size-5 m-auto" %>
      </div>

      <div class="my-auto">
        <p class="">
          <%= match.location.name %>
        </p>
      </div>
    </div>

    <div class="grid grid-cols-[auto_1fr] gap-4">
      <div class="rounded-2xl bg-gray-100 size-14 flex flex-col justify-center">
        <%= inline_svg_tag "icons/calendar.svg", class: "size-5 m-auto" %>
      </div>

      <div class="my-auto">
        <p class="">
          <%= l(match.played_at, format: "%a %-d de %B %Y a las %H:%M").capitalize %>
        </p>
      </div>
    </div>
  </div>
</div>
