<div class="flex flex-col gap-2 py-4">
  <%= render "match_header", match: match %>
  <div class="grid grid-cols-2 gap-2 w-full">
    <div class="flex flex-col gap-2">
      <h2 class="font-semibold flex flex-row gap-2">
        Team A
        <% if match.team_1_won? %>
          <%= inline_svg_tag "icons/trophy.svg", class: "w-6 h-6 fill-yellow-400" %>
        <% end %>
      </h2>

      <% match.match_players_a.each do |match_player| %>
        <p>
          <%= match_player.player.name %>
        </p>
      <% end %>
    </div>
    <div class="flex flex-col gap-2">
      <h2 class="font-semibold flex flex-row gap-2">
        Team B
        <% if match.team_2_won? %>
          <%= inline_svg_tag "icons/trophy.svg", class: "w-6 h-6 fill-yellow-400" %>
        <% end %>
      </h2>

      <% match.match_players_b.each do |match_player| %>
        <p>
          <%= match_player.player.name %>
        </p>
      <% end %>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-2 w-full">
    <div class="flex flex-col gap-2">
      <h2 class="font-semibold">Lugar</h2>

      <%= match.location.name %>
    </div>
    <div class="flex flex-col gap-2">
      <h2 class="font-semibold">Fecha</h2>

      <%= l match.played_at, format: :short %>
    </div>
  </div>

  <div class="flex flex-col gap-2">
    <h2 class="font-semibold">Sets</h2>

    <% if match.score_sets.empty? %>
      <p class="text-gray-400">No hay sets</p>
    <% end %>

    <div class="grid grid-cols-4 gap-8 w-full">
      <div class="flex flex-col gap-2">
        <% (match.score_sets.maximum(:position).to_i + 1).times do |index| %>
          <span class="text-gray-400 my-auto">#<%= index + 1 %></span>
        <% end %>
      </div>
      <div class="flex flex-col gap-2">
        <% match.score_sets_a.each do |score_set| %>
          <span class="text-right">
            <%= score_set.score %>
          </span>
        <% end %>
      </div>
      <div class="flex flex-col gap-2">
        <% match.score_sets_b.each do |score_set| %>
          <span class="text-left">
            <%= score_set.score %>
          </span>
        <% end %>
      </div>
      <div></div>
    </div>
  </div>
</div>
