<%= render "application/main",
  title: "Entrar a Padel League" do %>
  <div class="py-6">
    <%= form_with model: @player, url: players_session_path do |f| %>
      <div class="flex flex-col gap-2">
        <%= f.email_field :email, placeholder: "Email" %>
        <%= f.password_field :password, placeholder: "Contraseña" %>

        <%= f.submit "Entrar", class: "mt-2 btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <div class="flex flex-col">
    <%= link_to "Recuperar contraseña", new_players_password_path, class: "btn btn-secondary" %>
  </div>
<% end %>
