<div class="flex justify-between mt-4">
  <h1 class="text-xl font-bold my-auto">Mi perfil</h1>

  <%= link_to edit_players_profile_path, class: "ml-auto p-1" do %>
    <%= inline_svg_tag "icons/pencil-square.svg", class: "w-6 h-6" %>
  <% end %>
</div>

<div class="flex flex-col gap-2 mt-4">
  <%= link_to "Ver stats", player_stats_path(@player), class: "btn btn-primary" %>
</div>

<%= render "profile", player: @player %>

<div class="flex flex-col">
  <%= link_to players_session_path, data: { turbo_method: :delete }, class: "btn btn-secondary" do %>
    <span>
      Cerrar sesión
    </span>
    <%= inline_svg_tag "icons/arrow-left-start-on-rectangle.svg", class: "size-5 inline my-auto" %>
  <% end %>
</div>
