<%= render "application/main",
  title: "Performance",
  back_url: :back do %>
  <%= render "application/datalist", data: {
    "Jugador": @player.name
  } %>

  <%= form_with url: player_stats_path(@player), method: :get do |f| %>
    <div class="flex gap-2 mt-2">
      <%= f.date_field :from, class: "border border-gray-200 rounded-md p-2", value: @date_range.first %>
      <%= f.date_field :to, class: "border border-gray-200 rounded-md p-2", value: @date_range.last %>

      <%= f.button type: "submit", class: "btn btn-primary", name: "" do %>
        <%= inline_svg_tag "icons/magnifying-glass.svg", class: "w-6 h-6" %>
      <% end %>
    </div>
  <% end %>

  <div class="py-2 flex flex-col gap-2">
    <div class="grid grid-cols-2 gap-2">
      <%= render "application/charts/scorecard", title: "Partidos jugados", value: @played_matches_count %>
      <%= render "application/charts/scorecard", title: "Partidos ganados", value: @won_matches_count %>
    </div>

    <%= render "application/charts/box" do %>
      <%= line_chart player_stats_played_matches_path(
          player_id: @player.id,
          from: @date_range.first,
          to: @date_range.last,
        ),
        label: "Partidos" %>
    <% end %>
  </div>
<% end %>
